.frame-child {
  align-self: stretch;
  width: 1440px;
  position: relative;
  background: linear-gradient(0.27deg, rgba(167, 199, 255, 0.2), #fff 98.41%);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.asset-1-3,
.logo-master-icon {
  position: absolute;
  top: 63px;
  left: 63px;
  width: 215px;
  height: 51px;
}
.asset-1-3 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 934px;
  object-fit: cover;
  z-index: 1;
}
.client-support,
.home {
  line-height: 20px;
  display: inline-block;
  z-index: 2;
}
.home {
  position: absolute;
  top: 77px;
  left: 566px;
  color: var(--color-royalblue-100);
  min-width: 61px;
}
.client-support {
  width: 143px;
  position: relative;
  white-space: nowrap;
}
.line-roundedchevron-down {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 3;
  margin-left: -91px;
}
.footer {
  position: absolute;
  top: 77px;
  left: 824px;
  width: 143px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-item {
  position: absolute;
  top: 106.5px;
  left: 556px;
  background-color: var(--color-midnightblue-100);
  width: 77px;
  height: 2px;
  z-index: 2;
}
.services {
  position: absolute;
  top: 77px;
  left: 688px;
  line-height: 20px;
  display: inline-block;
  min-width: 83px;
  z-index: 7;
}
.logo-master-parent {
  height: 934px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.personalized-services,
.span {
  color: var(--color-midnightblue-100);
}
.making-every-stay,
.want-to-elevate,
.we-are-your-container {
  position: absolute;
  margin: 0 !important;
  letter-spacing: -0.03em;
  display: inline-block;
  z-index: 7;
}
.we-are-your-container {
  height: 207px;
  width: 646px;
  top: 322px;
  left: 98px;
  font-size: var(--font-size-27xl);
  font-weight: 800;
  font-family: inherit;
}
.making-every-stay,
.want-to-elevate {
  font-weight: 600;
}
.making-every-stay {
  width: 646px;
  bottom: 160px;
  left: 130px;
  text-align: right;
  white-space: nowrap;
}
.want-to-elevate {
  height: 109px;
  width: 708px;
  bottom: 268px;
  left: 99px;
  color: var(--color-midnightblue-100);
}
.travelingpana-icon {
  height: 434.2px;
  width: 623.1px;
  position: absolute;
  margin: 0 !important;
  right: 124.9px;
  bottom: 214.8px;
  z-index: 8;
}
.rectangle-parent {
  align-self: stretch;
  background: linear-gradient(0.27deg, rgba(167, 199, 255, 0.2), #fff 98.41%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-royalblue-100);
  font-family: var(--font-poppins);
}
.mask-group-icon {
  width: 100%;
  height: 717px;
  position: absolute;
  margin: 0 !important;
  top: 231px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.message-box-child {
  width: 1440px;
  height: 427px;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}
.seamlessly-integrated-with {
  height: 48px;
  width: 968px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  z-index: 6;
}
.seamlessly-integrated-with-lea-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 63px;
  box-sizing: border-box;
  max-width: 100%;
}
.airbnb-1-icon {
  width: 178.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  z-index: 6;
}
.background-image {
  height: 57px;
  width: 254.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.bookingcom-1-icon,
.homeaway-2-1-icon {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 6;
}
.bookingcom-1-icon {
  height: 56px;
  width: 330.3px;
  flex-shrink: 0;
}
.homeaway-2-1-icon {
  align-self: stretch;
  flex: 1;
  max-height: 100%;
}
.dropdown-menu {
  height: 61px;
  width: 288.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5px;
  box-sizing: border-box;
}
.background-image-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-inner,
.what-do-we {
  flex-shrink: 0;
  max-width: 100%;
}
.frame-inner {
  width: 100%;
  height: 783px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 1208.5px;
  left: 0;
  overflow: hidden;
  z-index: 1;
}
.what-do-we {
  margin: 0;
  height: 69px;
  width: 441px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.breadcrumb {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-40xl);
  box-sizing: border-box;
  max-width: 100%;
}
.discover-a-range {
  margin: 0;
  align-self: stretch;
  height: 280px;
  position: relative;
  font-size: 40px;
  letter-spacing: -0.03em;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  color: var(--dark-blu-brand);
  text-align: center;
  display: inline-block;
}
.search-bar,
.testimonial-card {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.search-bar {
  width: 1114px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.testimonial-card {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 91px var(--padding-3xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--color-royalblue-100);
  font-family: var(--font-poppins);
}

.message-box,
.star-rating {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.message-box {
  flex: 1;
  background-color: var(--color-aliceblue);
  flex-direction: column;
  padding: 56px 152.7px 161px 173px;
  gap: 101px;
  z-index: 5;
}
.star-rating {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 42px;
  text-align: center;
  font-size: 31.8px;
  color: var(--dark-blu-brand);
  font-family: var(--font-poppins);
}

.kayak-logo-1-icon {
  width: 292.3px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.info-box {
  margin-left: -1931px;
  height: 219px;
  width: 1856.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 163px 0 0;
  box-sizing: border-box;
  max-width: 151%;
  flex-shrink: 0;
}
.healthy-lifestylebro-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}
.wrapper-healthy-lifestylebro {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-icon {
  height: 213.8px;
  width: 230.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8.6px;
  box-sizing: border-box;
}
.floor-icon {
  position: absolute;
  top: 96.5px;
  left: 3.1px;
  width: 241.9px;
  height: 129.1px;
}
.picture-icon,
.picture-icon1 {
  position: absolute;
  top: 16.4px;
  left: 156.1px;
  width: 16.5px;
  height: 46.1px;
}
.picture-icon1 {
  left: 77.6px;
}
.window-icon,
.window-icon1 {
  position: absolute;
  top: 26.1px;
  left: 178.3px;
  width: 50.2px;
  height: 66.9px;
}
.window-icon1 {
  left: 21.7px;
}
.shadows-icon {
  position: absolute;
  width: calc(100% - 23.2px);
  top: 96.9px;
  right: 11.2px;
  left: 12px;
  max-width: 100%;
  overflow: hidden;
  height: 100.7px;
  z-index: 1;
}
.plants-icon,
.table-icon {
  position: absolute;
  top: 106.1px;
  left: 2.5px;
  width: 240.9px;
  height: 52.3px;
  z-index: 2;
}
.table-icon {
  top: 0;
  left: 0;
  width: 189.9px;
  height: 181px;
  z-index: 3;
}
.character-2-icon {
  position: absolute;
  top: 50.9px;
  left: 142.8px;
  width: 76px;
  height: 139.2px;
  z-index: 4;
}
.character-1-icon,
.speech-bubble-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 78.3px;
  height: 190.2px;
  z-index: 4;
}
.speech-bubble-icon {
  top: 28.4px;
  left: 110.4px;
  width: 27.2px;
  height: 29.2px;
}
.floor-parent {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
}
.catering-serviceamico {
  height: 225.6px;
  width: 245px;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.yachtpana-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  transform: scale(1.112);
}
.wrapper-yachtpana {
  align-self: stretch;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-item {
  height: 186.1px;
  width: 322.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 6.9px;
  box-sizing: border-box;
  max-width: 100%;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 75.1px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  max-width: 100%;
}
.car-drivingrafiki-icon,
.wrapper-car-drivingrafiki {
  align-self: stretch;
  flex: 1;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.car-drivingrafiki-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  transform: scale(1.097);
}
.wrapper-car-drivingrafiki {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-button,
.tab-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.main-button {
  height: 208px;
  width: 281.6px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.tab-container {
  width: 1381.6px;
  flex-direction: row;
  padding: 0 77px 102.4px;
  gap: 74.9px;
  max-width: 100%;
}
.button-rectangle {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: var(--color-royalblue-100);
}
.view-cart {
  width: 151px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  z-index: 1;
}
.component-2,
.component-2-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-2 {
  cursor: pointer;
  border: 0;
  padding: 16.4px 60.4px 15.6px 60.6px;
  background-color: transparent;
  justify-content: flex-start;
  position: relative;
  white-space: nowrap;
  z-index: 7;
}
.component-2-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 192px var(--padding-3xl);
}
.union-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -208px;
  max-height: 100%;
  width: 1716.3px;
  object-fit: contain;
  z-index: 2;
}
.vaultrafiki-icon {
  position: absolute;
  top: 89.2px;
  left: 781px;
  width: 632px;
  height: 464.7px;
  z-index: 3;
}
.union-parent {
  width: 100%;
  height: 808.1px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 1173px;
  left: 0;
}
.at-venu {
  white-space: pre-wrap;
}
.professional-suppliers,
.quality-is-paramount {
  color: var(--color-royalblue-100);
}
.at-venu-quality-container {
  margin: 0;
  align-self: stretch;
  height: 336px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 56px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 3;
}
.blank-line,
.professional-suppliers-weve,
.purchase-protection-your {
  margin: 0;
}
.professional-suppliers-weve-container {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 30px;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.at-venu-quality-is-paramount-parent,
.professional-suppliers-weve-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.professional-suppliers-weve-wrapper {
  width: 529.4px;
  flex-direction: row;
  padding: 0 4px 0 3.7px;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-royalblue-100);
}
.at-venu-quality-is-paramount-parent {
  width: 611px;
  flex-direction: column;
  gap: 46px;
}
.frame-wrapper {
  width: 861.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 121px;
  box-sizing: border-box;
  max-width: 100%;
}
.client-testimonials {
  margin: 0;
  width: 551px;
  height: 69px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.mask-group-icon1 {
  height: 77px;
  width: 77px;
  position: relative;
  object-fit: cover;
}
.dan-claire {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 56px;
  display: inline-block;
  max-width: 100%;
}
.dan-claire-wrapper {
  width: 686px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.star-icon,
.star-icon1,
.star-icon2,
.star-icon3,
.star-icon4 {
  height: 39px;
  width: 39px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 39px;
}
.star-icon1,
.star-icon2,
.star-icon3,
.star-icon4 {
  z-index: 1;
}
.star-icon2,
.star-icon3,
.star-icon4 {
  z-index: 2;
}
.star-icon3,
.star-icon4 {
  height: 38.5px;
  z-index: 3;
}
.star-icon4 {
  z-index: 4;
}
.star-parent {
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.day-ago1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-14xl);
}
.day-ago {
  height: 38px;
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
}
.star-icon5,
.star-icon6,
.star-icon7 {
  height: 39px;
  width: 39px;
  position: absolute;
  margin: 0 !important;
  top: -12px;
  right: 83px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.star-icon6,
.star-icon7 {
  right: 44px;
  z-index: 3;
}
.star-icon7 {
  right: 5px;
  z-index: 4;
}
.day-ago-parent,
.frame-parent4 {
  flex-direction: row;
  align-items: flex-start;
}
.day-ago-parent {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  position: relative;
  min-width: 345px;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  gap: 10px;
  margin-top: -7px;
  color: var(--dark-blu-brand);
}
.frame-parent3,
.frame-parent4,
.mask-group-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 478px;
}
.mask-group-parent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-base);
}
.i-recently-had {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 30px;
  display: inline-block;
  max-width: 100%;
}

.i-recently-had-the-pleasure-of-wrapper {
  width: 540px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  align-self: stretch;
  gap: var(--gap-6xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.frame-wrapper1 {
  width: 829px;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.mask-group-icon2 {
  width: 77px;
  height: 77px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.mask-group-wrapper {
  height: 88px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.days-ago1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-14xl);
}
.days-ago,
.madison-turner {
  letter-spacing: -0.03em;
  display: inline-block;
}
.days-ago {
  height: 38px;
  width: 531px;
  position: absolute;
  margin: 0 !important;
  right: -62px;
  bottom: -31px;
  font-weight: 800;
}
.madison-turner {
  flex: 1;
  position: relative;
  line-height: 56px;
  color: var(--color-royalblue-100);
  max-width: 100%;
  z-index: 1;
}
.star-icon8,
.star-icon9 {
  height: 38.5px;
  width: 39px;
  position: absolute;
  margin: 0 !important;
  bottom: -31.5px;
  left: 105px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 5;
}
.star-icon9 {
  bottom: -30.5px;
  left: 144px;
  z-index: 6;
}
.days-ago-parent,
.testimonial-star {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.days-ago-parent {
  flex: 1;
  position: relative;
  min-width: 430px;
}
.testimonial-star {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 28px;
}
.i-highly-recommend {
  margin: 0;
}
.i-highly-recommend-container {
  height: 180px;
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 30px;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.client-testimonial,
.i-highly-recommend-venu-for-an-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.i-highly-recommend-venu-for-an-wrapper {
  width: 540px;
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-royalblue-100);
}
.client-testimonial {
  width: 767px;
  flex-direction: column;
  gap: var(--gap-6xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
  margin-left: -215px;
  color: var(--dark-blu-brand);
}
.frame-parent1 {
  width: 1303px;
  flex-direction: row;
  max-width: 100%;
}
.client-testimonials-parent,
.frame-div,
.frame-parent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: row;
  padding: 0 0 0 17px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-royalblue-100);
}
.client-testimonials-parent {
  flex-direction: column;
  gap: 39px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.icon-arrow-left-1 {
  height: 18.8px;
  width: 47px;
  position: relative;
  object-fit: contain;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.icon-arrow-left-1-wrapper {
  width: 1231px;
  height: 18.8px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.frame-container,
.frame-group,
.icon-arrow-left-1-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-group {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 50px;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 184.2px;
  text-align: left;
  font-size: var(--font-size-27xl);
  color: var(--dark-blu-brand);
  font-family: var(--font-poppins);
}
.rectangle-div {
  width: 1440px;
  height: 389px;
  position: relative;
  background-color: var(--color-aliceblue);
  display: none;
  max-width: 100%;
}
.l-master-alterno1-icon {
  width: 213px;
  flex: 1;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  z-index: 1;
}
.making-every-stay1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 500;
  z-index: 2;
}
.l-master-alterno1-parent {
  align-self: stretch;
  height: 151px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.linkedin-icon,
.messenger-icon,
.twitter-icon,
.twoo-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 2;
}
.linkedin-parent,
.unique-experience-master {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.linkedin-parent {
  height: 20px;
  flex-direction: row;
  gap: var(--gap-base);
}
.unique-experience-master {
  flex: 1;
  flex-direction: column;
  gap: 30px;
  min-width: 168px;
}
.links {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 53px;
  z-index: 1;
}
.client-support1,
.home1,
.services1 {
  margin: 0;
}
.home-services-client-container {
  height: 144px;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 36px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-royalblue-100);
  display: inline-block;
  z-index: 1;
}
.links-parent {
  flex-direction: column;
  gap: 12px;
}
.links-parent,
.social-media-links,
.social-media-links-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media-links-inner {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 116px;
  font-size: 21px;
  color: var(--color-midnightblue-100);
  font-family: var(--font-manrope);
}
.social-media-links {
  width: 478px;
  flex-direction: row;
  gap: 104px;
  min-width: 478px;
  max-width: 100%;
}
.image-3-icon,
.payment-methods {
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.payment-methods {
  margin: 0;
  width: 410px;
  font-size: inherit;
  letter-spacing: -0.03em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.image-3-icon {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.single-image {
  height: 60px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
}
.image-4-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.image-pair {
  height: 63px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.image-5-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.image-pair1 {
  height: 63px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.image-6-icon {
  height: 72px;
  width: 128px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.single-image-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 34.7px;
}
.next-l-master-alterno-inner,
.payment-methods-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.payment-methods-parent {
  align-self: stretch;
  gap: 32px;
}
.next-l-master-alterno-inner {
  width: 482px;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 482px;
  font-size: var(--font-size-17xl);
  color: var(--dark-blu-brand);
}
.next-l-master-alterno {
  width: 1255px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: rgba(34, 116, 255, 0.1);
  max-width: 100%;
  z-index: 2;
}
.previous-l-master-alterno,
.previous-l-master-alterno-inner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.previous-l-master-alterno-inner {
  height: 1px;
  flex-direction: row;
  padding: 0 0 0 3px;
  box-sizing: border-box;
}
.previous-l-master-alterno {
  flex-direction: column;
  gap: 31px;
}
.all-rights-reserved-venumx- {
  white-space: pre-wrap;
}
.privacy-notice {
  text-decoration: underline;
}
.all-rights-reserved-container {
  width: 676px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.all-rights-reserved {
  width: 1232px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  color: var(--color-royalblue-100);
  font-family: var(--font-manrope);
}
.frame-parent,
.home-clientes,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-aliceblue);
  flex-direction: column;
  padding: 39px 55px 49px;
  box-sizing: border-box;
  gap: 42px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: #626a7d;
  font-family: var(--font-poppins);
}
.frame-parent,
.home-clientes {
  position: relative;
  overflow: hidden;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  padding: 0 0 71px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 45px;
  color: var(--dark-blu-brand);
  font-family: var(--font-poppins);
}
.home-clientes {
  width: 100%;
  height: 4300px;
  background-color: var(--color-white);
  flex-direction: row;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .background-image-parent,
  .tab-container {
    justify-content: center;
  }
  .tab-container {
    flex-wrap: wrap;
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .frame-parent {
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  .home-clientes {
    height: auto;
  }
}
