.frame-child {
    align-self: stretch;
    width: 1440px;
    position: relative;
    background: linear-gradient(0.27deg, rgba(167, 199, 255, 0.2), #fff 98.41%);
    display: none;
    max-width: 100%;
    z-index: 0;
  }
  .asset-1-3,
  .logo-master-icon {
    position: absolute;
    top: 63px;
    left: 63px;
    width: 215px;
    height: 51px;
  }